body {
	margin: 0;
	padding: 0;

	.main {
		width: 100%;
		height: 100%;
		background-color: red;
		font-size: 30px;
		padding: 15px;
		text-align: center;
		text-decoration: underline;
		color: white;
		border: 2px solid black;
	}
}

@import "layout";